/* TABLET DEVICE */

@media screen  and (max-width: 768px){
    .container{
        width: 100%;
        height: 100vh;
    }

    .h-messaggi,
    .notifiche,
    .cerca{
        display: none;
    }

    .messaggi{
        width: 10%;
    }

    .propic{
        width:100%;
        height: 100%;
    }

    .chat{
        width: 90%;
    }
}

/* MOBILE DEVICE */
@media screen  and (max-width: 468px){
    .messaggi{
        display: none;
    }

    .chat{
        width: 100%;
    }

}
