*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.col-dir{
    flex-direction: column;
}

body{
    font-family: sans-serif;
}


/* DESKTOP FIRST */

.background{
    width: 100%;
    background-image: linear-gradient(#009587,#dbdbd3);
    height: 100vh;
    align-items: center;
}

.container{
        width: 80%;
        height: 90%;
        
        margin: auto;
}

.messaggi{
    flex-direction: column;
    width: 35%;
    
    overflow-y: scroll;
}

.h-messaggi{
    background-color: #eaeaea;
    height: 10%;
    
    justify-content: space-between;
    align-items: center;
}

.propic{
    width: 10%;
    border-radius: 50%;

}

.testo-mex{
    width: 90%;
}

.notifiche{
    background-color: #8edafc;
    height: 20%;
    align-items: center;
    padding: 15px;
    
}

.icone-notifica{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 2rem;
    color: #8edafc;
    
}

.first-notifiche{
    
    font-weight: 600;
    font-size: 0.9rem;
}

.link>a{
    color: inherit;
    color: #578195;
    font-size: 0.8rem;
}

.cerca{
    background-color: white;
    height: 10%;
    align-items: center;

}

.cerca>span{
    color: grey;
    font-size:0.8rem ;
    padding: 10px;
    border: 0.3px grey;
    
}


.persona{
    
    height: calc(100% / 8);
    border: 1px solid;
    background-color: white;
}



.chat{
    flex-direction: column;
    width: 65%;
    position: relative;
    background-image: url(../img/mine.jpg);
    position: relative;
    overflow-y: scroll;
}

.h-chat{
    height: 10%;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 10px;
}
.info{
    flex-direction: column;
}

.nome{
    font-size: 0.8rem;
}

.accesso{
    font-size: 0.5rem;
    color: grey;
}

.icone-header{
    font-size: 1.2rem;
    color: grey;
    padding: 15px;

}

.inviato{ 
    display: flex;
    width: 20%;
    height: 30%;
    
}

.inviato>p{
    width: 50%;
    padding: 30px;
    display: flex;
    font-size: 0.7rem;
    background-color: #d5f9ba;
    position: absolute;
    right: 0;
    top: 70px;
    border-radius: 10%;

}

.ricevuto{
    display: flex;
    width: 20%;
    height: 30%;
}

.ricevuto>p{
    width: 50%;
    padding: 30px;
    display: flex;
    font-size: 0.7rem;
    background-color: white;
    position: absolute;
    border-radius: 10%;
}

.f-chat{
    background-color: whitesmoke;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.text-aerea{
    width: 80%;
}
.emoji, .mic{
    width: 10%;
    color: lightgrey;
}